@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
}

@layer components {
  .text-primary {
    @apply text-darkPrimary;
  }

  .text-secondary {
    @apply text-darkPrimary;
  }

  .btn-primary {
    @apply flex items-center gap-2 rounded-lg bg-darkSecondary px-6 py-3 font-semibold text-white shadow-lg transition-all duration-300 ease-in-out hover:bg-darkPrimary focus:outline-none;
  }

  .btn-secondary {
    @apply rounded-lg bg-gray-700 px-6 py-3 font-semibold text-white transition-all duration-300 ease-in-out hover:bg-gray-800;
  }

  .btn-primary,
  .btn-secondary {
    @apply px-5 py-2;
    font-size: 0.875rem;
  }

  .card {
    @apply rounded-lg border-2 border-darkSecondary p-6 shadow-xl transition-transform hover:scale-105;
  }

  .card-header {
    @apply text-lg font-bold text-primary;
  }

  .card-body {
    @apply text-sm text-secondary;
  }

  .fade-in {
    @apply animate-fade-in;
  }

  .scale-up {
    @apply animate-scale-up;
  }

  .input-field {
    @apply px-3 py-2;
  }

  .input-error {
    @apply text-sm text-red-500;
  }

  .container-responsive {
    @apply mx-auto w-[90%] max-w-[40rem] sm:w-[80%] md:w-[70%];
  }

  .heading-primary {
    @apply text-4xl font-bold text-darkSecondary;
  }

  .heading-secondary {
    @apply text-xl text-gray-700;
  }

  .heading-tertiary {
    @apply text-lg text-gray-500;
  }

  .icon-button {
    @apply flex items-center gap-2 rounded-lg p-3 transition-all duration-200 ease-in-out focus:outline-none;
  }

  .icon-button-delete {
    @apply bg-red-600 text-white hover:bg-red-700;
  }

  .icon-button-view {
    @apply bg-blue-600 text-white hover:bg-blue-700;
  }

  .icon-button:disabled {
    @apply cursor-not-allowed bg-gray-400 text-gray-600;
  }

  .icon-button:focus,
  .btn-primary:focus,
  .btn-secondary:focus {
    @apply outline-none;
  }

  .flex-row {
    @apply flex justify-between text-lg font-medium;
  }

  .loan-detail-text {
    @apply mb-3 text-lg font-medium;
  }

  .input-style {
    @apply mb-4 w-full rounded-lg border-2 p-3 text-sm hover:border-darkPrimary focus:outline-none focus:ring-1 focus:ring-darkPrimary;
  }

  .slider {
    @apply h-2 w-full appearance-none rounded-lg bg-gray-700;
    background: linear-gradient(
      to right,
      #585858,
      #2a2a2a
    ); /* Gradient from dark gray to darker gray */
    transition: background 0.3s ease;
  }

  .slider-label {
    @apply text-sm font-semibold text-darkPrimary;
  }

  .slider::-webkit-slider-thumb {
    @apply h-4 w-4 cursor-pointer appearance-none rounded-lg border-2 border-white bg-darkPrimary shadow-lg;
  }

  .modal-background {
    @apply fixed inset-0 z-[9999] flex items-center justify-center bg-black bg-opacity-70;
  }

  .modal-content {
    @apply w-full max-w-xl animate-scale-up rounded-lg bg-white p-6 shadow-lg;
    max-height: 90vh;
    overflow-y: auto;
  }

  .modal-header {
    @apply mb-4 flex items-center justify-between rounded-t-lg bg-gradient-to-r from-darkSecondary via-darkPrimary to-darkBg p-3;
  }

  .modal-body {
    @apply mb-8 rounded-lg bg-gradient-to-r from-darkSecondary via-darkPrimary to-darkBg p-4 text-center;
  }

  .modal-footer {
    @apply mt-4 flex items-center justify-between;
  }

  .burger-btn {
    @apply rounded-lg p-2 text-gray-900 transition duration-300 ease-in-out hover:bg-gray-200 dark:text-white dark:hover:bg-gray-700 dark:focus:bg-gray-600;
  }

  .mobile-nav {
    @apply bg-gradient-to-r from-darkSecondary via-darkPrimary to-darkBg;
  }

  .mobile-link {
    @apply block rounded-lg px-4 py-2 text-white hover:bg-gray-700;
  }

  .modal-body p {
    @apply text-base;
  }

  h1 {
    @apply text-3xl;
  }

  h3 {
    @apply text-lg;
  }

  .mb-10 {
    @apply mb-6;
  }
}
